<!DOCTYPE html>
<html lang="es">

<head>

    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/styles-productAdd.css">


        <title>Piky Agregar Productos</title>
</head>

<body>

    <form action="/products" method="post" enctype="multipart/form-data">
        <div class="form-body">
            <img src="/images/logo/logo-miss-piky.jpeg" alt="logo-miss-piky">
            <p class="text">Cargar productos</p>

            <div class="form-register">
                <input type="text" name="name" id="name" placeholder="Modelo Reloj">
            </div>

            <div class="form-register">
                <input type="text" name="description" id="description" placeholder="Descripcion">
            </div>

            <div class="form-register">
                <select name="category" id="category">
                    <option value="">Categoria</option>
                    <option value="sports">Deporte</option>
                    <option value="outdoor">Outdoor</option>
                    <option value="moda">Moda</option>
                </select>
            </div>

            <div class="form-register">
                <input type="number" name="price" id="price" placeholder="Precio">
            </div>

            <div class="form-register">
                <label for="image">Imagen Producto:</label>
                <input type="file" name="image" placeholder="Imagen del Producto">
            </div>

            <button type="submit">GUARDAR PRODUCTO</button>

    </form>

</body>

</html>