<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("partials/head", {title: 'Todos los productos' }) %>

    <link rel="stylesheet" href="/css/products.css" />

    <title>MISS PIKY</title>

</head>



<body>

  <%- include("partials/header") %>

    <main>

      <div class="banner-product">

        <img src="\images\logos\logo-miss-piky.jpeg" alt="logo-miss-piky">

      </div>

      <div class="title-products">

        <h2>TEJIDOS</h2>

      </div>

      <!-- Contenedor general -->
      <div class="main-section">



        <!-- Contenedor de filtrados -->
        <div class="main-filters">

          <p>Categorias</p>
          <ul>
            <li>Bebe</li>
            <li>Moda</li>
          </ul>


        </div>

        <!-- Contenedor de productos -->
        <div class="main-products">


          <section>

            <% products.forEach(product=> { %>

              <%- include("partials/productCard", {product}) %>

                <% }) %>

          </section>


        </div>

      </div>

    </main>



    <%- include("partials/footer") %>

</body>

</html>